<h3>Share this Photo</h3>

<p>
  <mat-form-field appearance="outline">
    <mat-label>HTML Page</mat-label>
    <input matInput [value]="data.html" />
    <mat-icon matSuffix>image</mat-icon>
    <!-- <mat-hint>Download URL</mat-hint> -->
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Download URL</mat-label>
    <input matInput [value]="data.download" />
    <mat-icon matSuffix>down</mat-icon>
    <!-- <mat-hint>Download URL</mat-hint> -->
  </mat-form-field>
</p>
